<% last_messagable = conversation.messages.last&.messagable %>
<% disabled = last_messagable.is_a?(Reply) && last_messagable.pending? %>

<%= form_with model: [conversation, Message.new] do |form| %>
  <div class="row">
    <div class="col-7">
      <%= form.text_field :body, class: "form-control", autocomplete: "off", disabled: disabled %>
    </div>
    <div class="col-3">
      <%= form.select :model, ["openai/chatgpt-4o-latest", "anthropic/claude-3.5-sonnet", "google/gemma-2-27b-it"], {}, {class: "form-select"}  %>
    </div>
    <div class="col">
      <%= form.submit "Send", class: "btn btn-primary", disabled: disabled %>
    </div>
  </div>
<% end %>
