<div class="row mb-4" id="<%= dom_id(message.messagable) %>">
  <div class="col-4"></div>
  <div class="col-8">
    <div class="card text-bg-secondary">
      <div class="card-body" id="<%= dom_id(message.messagable, :body) %>">
        <%= message.messagable.body %>
      </div>
  </div>
</div>
